spring:
  application:
    name: userservice


  datasource:
    url: jdbc:postgresql://localhost:5432/fitness_user_db
    username: olawaletijani
    password:
    driver-class-name: org.postgresql.Driver

  jpa:
    hibernate:
      ddl-auto: update
    show-sql: true
    properties:
      hibernate:
        format_sql: true

server:
  port: 8082

eureka:
  client:
    serviceUrl:
      defaultZone: http://localhost:8761/eureka/
